<!DOCTYPE HTML>

<html>
	<head>
		<title>SoberPPL</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}"></noscript>
	</head>
	<body class = "is-preload">
        <!-- Wrapper -->
	<div id="wrapper">
            {% if count==0 %}
                <div style="position: fixed; top:200px"><h2>아직 부정행위를 한 사람이 없습니다!</h2></div>
            {% else %}
            <div id="img_wrapper">
                <div class = "grid-container">
                    {% for pic in pics %}
                        <div class="location-listing">                  
                            <img src="{{ url_for('static', filename = 'output_images/' + pic) }}" height = 300px />
                            <div>{{pic}}</div>

                        </div>
                                
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        
        </div>
            
        <!-- BG -->
			<div id="bg"></div>

            <!-- Scripts -->			
                <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    </body>
</html>
